<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">



<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
      </time>
      {%- if page.author -%}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author }}</span></span>
      {%- endif -%}</p>
  </header>

  <div class="post-content e-content" itemprop="articleBody">

<script src="https://www.puck-js.com/puck.js"></script>
<script src="{{ site.baseurl }}/assets/tide-predictor.js"></script>
<!-- <script src="{{ site.baseurl }}/assets/myscript.js"></script> -->
<script>
    function sendHighLow(hl, lat0){
        console.log("Tides : ");
        console.log(hl);
        console.log("**********");
        //myString = JSON.stringify(hl);
        filestr = []
        for (key in hl){
            entry = hl[key];
            line = [entry['time'].getTime(), Math.trunc(entry['level']+lat0), entry['high']].join(",");
            filestr.push(line)
        }
        myString = "\""+filestr.join(";")+"\"";
        //console.log(ble)
        //console.log(myString);
        cmd="require(\"Storage\").write(\"tides.data.csv\","+myString+")\n";
        console.log(cmd);
        Puck.write(cmd);
    };
function writeToTable(hl, lat0){
    const monthNames = ["Janúar", "Febrúar", "Mars", "Apríl", "Maí", "Júní",
                        "Júlí", "Águst", "September", "Október", "Nóvember", "Desember"
];

    hl.forEach(level => {
        const tableRow = document.createElement('tr')
        sealevelm = ( (level.level - lat0)/100).toFixed(2);
        dt = level.time;
        console.log(" time : " + dt);
        lbl = "";
        if (level.high)
        {
            lbl = "Flóð";
        } else
        {
            lbl = "Fjara";
        }
        console.log("date : " + dt.getDate());
        dtfmt = dt.getFullYear()+' '+dt.getDate()+' '+monthNames[dt.getMonth()]+' '+dt.getHours()+':'+dt.getMinutes();
        tableRow.innerHTML = `
              <td>${dtfmt}</td>
              <td>${lbl}</td>
              <td>${sealevelm}m</td>
            `
        document.getElementById('tides').appendChild(tableRow)
    })
              };

function makeCalc() {
const harmonicsOptions = {};
const jsonfile = "{{ site.url }}/assets/{{page.datafile}}";
fetch(jsonfile)
    .then(response =>
        {return response.json()})
    .then(harmonics => {
        lat0=0
        // Lowest astronomical tide
        for (key in harmonics){
            lat0 = lat0 - harmonics[key]['amplitude'];
        }
        console.log("LAT "+lat0)
        const now = new Date();
        const startDate = new Date(now.getTime() - (2*24*60*60*1000));
        const endDate = new Date(now.getTime() + (30*24*60*60*1000));
        console.log("Start time : " + startDate);
        console.log("End time : " + endDate);
        let pred = tidePredictor(harmonics, {phaseKey: 'phase',})
        var highLow = pred.getExtremesPrediction({
            start: startDate,
            end: endDate,
            labels: {
                //optional human-readable labels
                high: 'High tide',
                low: 'Low tide',
            },
        });
        sendHighLow(highLow, lat0);
        writeToTable(highLow, lat0);
    })
}
</script>


<!-- <button onclick="Puck.write('LED1.set();\n');">LED On!</button>
 <button onclick="Puck.write('LED1.reset();\n');">!</button> -->
<button onclick="makeCalc();">Reikna sjávarföll</button>

{% leaflet_map { "center" : [{{page.latitude}}, {{page.longitude}}],
    "zoom" : 10,
    "providerBasemap": "OpenTopoMap" } %}
    {% leaflet_marker {"latitude" : {{page.latitude}},
                       "longitude" : {{page.longitude}},
		       "popupContent": "{{page.sitename}}" } %} 
{% endleaflet_map %}
  </div>
<table class="table">
  <thead>
    <tr>
      <th>Tími</th>
      <th>Flóð/Fjara</th>
      <th>Sjávarhæð (metrar)</th>
    </tr>
    <tbody id="tides">

    </tbody>
  </thead>
</table>

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>

      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>

