<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">



<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
      </time>
      {%- if page.author -%}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author }}</span></span>
      {%- endif -%}</p>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.1"></script>
    <script src="https://cdn.jsdelivr.net/npm/moment@2.27.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-moment@0.1.1"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-crosshair@1.2.0/dist/chartjs-plugin-crosshair.min.js"></script>
<!--     <script src="{{ site.baseurl }}/assets/chartjs-plugin-zoom.js"></script> -->
<!--     <script src="{{ site.baseurl }}/assets/hammer.js"></script> -->

<script src="https://www.puck-js.com/puck.js"></script>
<script src="{{ site.baseurl }}/assets/tide-predictor.js"></script>
<!-- <script src="{{ site.baseurl }}/assets/myscript.js"></script> -->
<script>
    var tideChartObj;
    var currentChartObj;
    function sendHighLow(hl, lat0){
        console.log("Tides : ");
        console.log(hl);
        console.log("**********");
        filestr = []
        for (key in hl){
            entry = hl[key];
            line = [entry['time'].getTime(), Math.trunc(entry['level']-lat0), entry['high']].join(",");
            filestr.push(line)
        }
        myString = "\""+filestr.join(";")+"\"";
        cmd="require(\"Storage\").write(\"tides.data.csv\","+myString+");\n";
        console.log(cmd);
        Puck.connect(function(c) {
            if (!c) {
                alert("Couldn't connect!");
                return;
            }
            c.write("reset();\n", function() {
                // Wait for it to reset itself
                setTimeout(function() {
                    // Now tell it to write data on the current light
                    // level to Bluetooth 10 times a second. Also
                    // ensure that when disconnected, Puck.js resets
                    // so the setInterval doesn't keep draining
                    // battery.
                    c.write(cmd,
                            function() { console.log("Ready..."); });
                }, 1500);
            });
        });
        //Puck.write(cmd);
    };


// function writeCurrentTable(hl_u, hl_v){
//     const monthNames = ["Janúar", "Febrúar", "Mars", "Apríl", "Maí", "Júní",
//                         "Júlí", "Águst", "September", "Október", "Nóvember", "Desember"
//                        ];

//     hl.forEach(level => {
//         const tableRow = document.createElement('tr')
//         sealevelm = ( (level.level - lat0)/100).toFixed(2);
//         dt = level.time;
//         console.log(" time : " + dt);
//         lbl = "";
//         if (level.high)
//         {
//             lbl = "Flóð";
//         } else
//         {
//             lbl = "Fjara";
//         }
//         console.log("date : " + dt.getDate());
//         dtfmt = dt.getFullYear()+' '+dt.getDate()+' '+monthNames[dt.getMonth()]+' '+dt.getHours()+':'+dt.getMinutes();
//         tableRow.innerHTML = `
//               <td>${dtfmt}</td>
//               <td>${lbl}</td>
//               <td>${sealevelm}m</td>
//             `
//         document.getElementById('tides').appendChild(tableRow)
//     })
// };
var leftEnd;
var rightEnd;

function writeToTable(hl, lat0){
    const monthNames = ["Janúar", "Febrúar", "Mars", "Apríl", "Maí", "Júní",
                        "Júlí", "Águst", "September", "Október", "Nóvember", "Desember"
                       ];
    hl.forEach(level => {
        const tableRow = document.createElement('tr')
        sealevelm = ( (level.level - lat0)/100).toFixed(2);
        dt = level.time;
        console.log(" time : " + dt);
        lbl = "";
        if (level.high)
        {
            lbl = "Flóð";
        } else
        {
            lbl = "Fjara";
        }
        console.log("date : " + dt.getDate());
        dtfmt = dt.getFullYear()+' '+dt.getDate()+' '+monthNames[dt.getMonth()]+' '+dt.getHours()+':'+dt.getMinutes();
        tableRow.innerHTML = `
              <td>${dtfmt}</td>
              <td>${lbl}</td>
              <td>${sealevelm}m</td>
            `
        document.getElementById('tides').appendChild(tableRow)
    })
};
function updateChart() {
    Chart.helpers.each(Chart.instances, function (instance) {
        console.log("Update chart : ")
        instance._options.scales.xAxes.max = rightEnd;
        instance._options.scales.xAxes.min = leftEnd;              
        console.log(""+ leftEnd + " | " + rightEnd)
        instance.update();
    });
}

function tideGraph(hl, lat0) {
    let tlabels = []
    let tdataset = []
    hl.forEach(function (value, i) {
        dt = value.time;
        tlabels.push(dt);
        tdataset.push({
            x: dt,
            y: (value.level-lat0)/1000});
    });

    const tidedata = {
        labels: [],
        datasets: [{
            label: 'Sjávarföll',
            backgroundColor: 'rgb(0, 0, 255)',
            borderColor: 'rgb(0, 0, 255)',
            pointRadius: 1,
            data: tdataset,
            // cubicInterpolationMode: 'monotone',
            tension: 0
        }]
    };

    const tideconfig = {
        type: 'line',
        data: tidedata,
        options: {
            scales: {
                x: {
                    type: 'time',
                    min: leftEnd,
                    max: rightEnd
                },
                y: {
                    title: {
                        display: true,
                        text: 'Sjávarhæð[m]'
                    }
                }
            },
            plugins: {
                tooltip: {
                    animation: false,
                    mode: 'index',
                    intersect: false,
                },
                crosshair: {
                    sync: {
                        enabled: true
                    },
                    line: {
                        color: '#F66',  // crosshair line color
                        width: 1        // crosshair line width
                    },
                    zoom: {
                        enabled: true,                                      // enable zooming
                        zoomboxBackgroundColor: 'rgba(66,133,244,0.2)',     // background color of zoom box 
                        zoomboxBorderColor: '#48F',                         // border color of zoom box
                        zoomButtonText: 'Þysja út',                       // reset zoom button text
                        zoomButtonClass: 'reset-zoom',                      // reset zoom button class
                    }
                }
            }
        }
    };
    tideChartObj = new Chart(
        document.getElementById('tideChart'),
        tideconfig
    );
};

function syncZoom() {
    leftEnd = tideChartObj.getDatasetMeta(0).dataset._chart.scales.xAxes.min;
    rightEnd = tideChartObj.getDatasetMeta(0).dataset._chart.scales.xAxes.max;
    updateChart()
}

function makeCalc() {
    leftEnd = new Date(document.getElementById("startDate").value);
    rightEnd = new Date(document.getElementById("endDate").value);
    console.log("make calculations");
    const jsonfile = "{{ site.url }}/assets/{{page.datafile}}.json";
    tide_fetch_p = fetch(jsonfile)
        .then(response =>
            {return response.json()});
    tide_calc_p = tide_fetch_p.then(calcTide);

    function calcTide(harmonics) {
        lat0=0
        // Lowest astronomical tide
        for (key in harmonics){
            if ("amplitude" in harmonics[key]){
                lat0 = lat0 - harmonics[key]['amplitude'];
            }
        }
        console.log("LAT "+lat0)
        const now = new Date();
        var startDate = new Date(document.getElementById("startDate").value);
        var endDate = new Date(document.getElementById("endDate").value);

        let pred = tidePredictor(harmonics, {phaseKey: 'phase',})
        tideres = pred.getTimelinePrediction({
            start: startDate,
            end: endDate,
            timeFidelity: 10*60*60
        });
        tideGraph(tideres, lat0);
        // var highLow = pred.getExtremesPrediction({ // To calculate high/low tide
        //     start: startDate,
        //     end: endDate,
        //     labels: {
        //         //optional human-readable labels
        //         high: 'High tide',
        //         low: 'Low tide',
        //     },
        // });
        // tideGraph(highLow, lat0);
        // sendHighLow(highLow, lat0);
        // writeToTable(highLow, lat0);
    };

    function calcCurr(harmonics) {
        let depth=harmonics.shift();
        var startDate = new Date(document.getElementById("startDate").value);
        var endDate = new Date(document.getElementById("endDate").value);
        let pred = tidePredictor(harmonics, {phaseKey: 'phase', timeFidelity: 10*60*60})
        // var highLow = pred.getExtremesPrediction({
        return [pred.getTimelinePrediction({
            start: startDate,
            end: endDate,
            timeFidelity: 10*60*60
        }), depth];
        // sendHighLow(highLow, lat0);
    };

    const jsonfile_u = "{{ site.url }}/assets/{{page.datafile}}_u.json";
    const jsonfile_v = "{{ site.url }}/assets/{{page.datafile}}_v.json";
    var p_fetchu = fetch(jsonfile_u).then(response =>
        {return response.json()});
    var p_fetchv = fetch(jsonfile_v).then(response =>
        {return response.json()});
    var p_curru = p_fetchu.then(calcCurr);
    var p_currv = p_fetchv.then(calcCurr);

    Promise.all([p_curru, p_currv]).then(function([c_u_obj, c_v_obj]) {
        // write_to_table
        const monthNames = ["Janúar", "Febrúar", "Mars", "Apríl", "Maí", "Júní",
                            "Júlí", "Águst", "September", "Október", "Nóvember", "Desember"
                           ];
        console.log("all tide current values")
        c_v = c_v_obj[0]
        c_u = c_u_obj[0]
        depth_v = c_v_obj[1].depth
        depth_u = c_u_obj[1].depth
        console.log("depths " + depth_v+ " "+depth_u)
        var labels = []
        var dataset = []
        var dataset_dir = []
        c_v.forEach(function (value, i) {
            dt = value.time;
            dtfmt = dt.getFullYear()+' '+dt.getDate()+' '+monthNames[dt.getMonth()]+' '+dt.getHours()+':'+dt.getMinutes();
            var currspeed = Math.sqrt((value.level/100/100/depth_v)**2 + (c_u[i].level/100/100/depth_u)**2)*1.9438444;
            // var currdir = (Math.atan2(value.level/depth_v, c_u[i].level/depth_u)+Math.PI)*180/Math.PI;
            var currdir = (Math.atan2(-c_u[i].level/depth_u, value.level/depth_v)+Math.PI)*180/Math.PI;
                labels.push(dt);
                dataset.push({
                    x: dt,
                    y: currspeed});
                dataset_dir.push({
                    x: dt,
                    y: currdir});
            // Write to table
            // if(dt.getMinutes()%30==0){
            //     const tableRow = document.createElement('tr')
            //     tableRow.innerHTML = `
            //   <td>${dtfmt}</td>
            //   <td>current</td>
            //   <td>${(value.level/100/100).toFixed(2)}</td>
            //   <td>${(c_u[i].level/100/100).toFixed(2)}</td>
            //   <td>${(100*value.level/100/100/depth_v).toFixed(2)}</td>
            //   <td>${(100*c_u[i].level/100/100/depth_u).toFixed(2)}</td>
            //   <td>${currspeed}kn</td>
            // `
            //     document.getElementById('tides').appendChild(tableRow)
            // }
        });
        const data = {
            labels: [],
            datasets: [{
                label: 'Straumhraði',
                backgroundColor: 'rgb(0, 0, 255)',
                borderColor: 'rgb(0, 0, 255)',
                pointRadius: 1,
                data: dataset,
                tension: 0.4,
                displayDigits: 2,
                unit: "kn"
            },
            {
                label: 'Straumstefna',
                backgroundColor: 'rgb(255,255,255)',
                borderColor: 'rgb(255,255,255)',
                pointRadius: 1,
                data: dataset_dir,
                tension: 0.4,
                unit: "°",
                displayDigits: 0,
                hidden: true
            }
                      ]
        };

        const config = {
            type: 'line',
            data: data,
            options: {
                scales: {
                    x: {
                        type: 'time',
                        min: leftEnd,
                        max: rightEnd
                    },
                    y: {
                        title: {
                            display: true,
                            text: 'Straumhraði[kn]'
                        }
                    }
                },
                plugins: {
                    tooltip: {
                        animation: false,
                        mode: 'index',
                        intersect: false,
                        callbacks: {
                            label: (tooltipItem, chart) =>
                            data.datasets.map(
                                ds => ds.label + ': ' + ds.data[tooltipItem.dataIndex].y.toFixed(ds.displayDigits)+ds.unit
                            )
                        }
                    },
                    crosshair: {
                        sync: {
                            enabled: true
                        },
                        line: {
                            color: '#F66',  // crosshair line color
                            width: 1        // crosshair line width
                        },
                        zoom: {
                            enabled: true,                                      // enable zooming
                            zoomboxBackgroundColor: 'rgba(66,133,244,0.2)',     // background color of zoom box 
                            zoomboxBorderColor: '#48F',                         // border color of zoom box
                            zoomButtonText: 'Þysja út',                       // reset zoom button text
                            zoomButtonClass: 'reset-zoom',                      // reset zoom button class
                        }
                    }
                }
            }
        };
        currentChartObj = new Chart(
            document.getElementById('currentChart'),
            config
        );

    });
    // writeToTable(current_u, 0);
}
</script>

<label for="start">Frá:</label>
<input type="date" id="startDate" name="trip-start">
<label for="end">Til:</label>
<input type="date" id="endDate" name="trip-end">

<script>
    // Set Default date for inputs
Date.prototype.toDateInputValue = (function() {
    var local = new Date(this);
    local.setMinutes(this.getMinutes() - this.getTimezoneOffset());
    return local.toJSON().slice(0,10);
});
document.getElementById('startDate').value = new Date().toDateInputValue();
endTime = new Date(new Date().getTime() + 5*24*60*60*1000 );
document.getElementById('endDate').value = endTime.toDateInputValue();
</script>

<!-- <button onclick="Puck.write('LED1.set();\n');">LED On!</button>
 <button onclick="Puck.write('LED1.reset();\n');">!</button> -->
<button onclick="makeCalc();">Reikna sjávarföll</button>

{% leaflet_map { "center" : [{{page.latitude}}, {{page.longitude}}],
    "zoom" : 10,
    "providerBasemap": "OpenTopoMap" } %}
    {% leaflet_marker {"latitude" : {{page.latitude}},
                       "longitude" : {{page.longitude}},
		       "popupContent": "{{page.sitename}}" } %} 
{% endleaflet_map %}
  </div>

<div>
  <canvas id="currentChart"></canvas>
</div>

<div>
  <canvas id="tideChart"></canvas>
</div>

<!-- <script> -->
<!--   const myChart = new Chart( -->
<!--     document.getElementById('myChart'), -->
<!--     config -->
<!--   ); -->
<!-- </script> -->

<!-- <table class="table"> -->
<!--   <thead> -->
<!--     <tr> -->
<!--       <th>Tími</th> -->
<!--       <th>Flóð/Fjara</th> -->
<!--       <th>Sjávarhæð (metrar)</th> -->
<!--     </tr> -->
<!--     <tbody id="tides"> -->
<!--     </tbody> -->
<!--   </thead> -->
<!-- </table> -->

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>

      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>

